Flask==2.1.2
requests==2.25.1
fastapi==0.79.0
uvicorn[standard]==0.18.2
pydantic==1.9.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.5
pysondb==1.6.7
dependency-injector==4.40.0
pymongo==4.3.2
SQLAlchemy==1.4.43
pymysql==1.0.2
PyPubSub==4.0.3